header {
	height: 56px;
	width: 650px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 56px; 
	background-color: #4aaaa5;
	text-align: center;
	margin: 20px;
	padding: 20px;
	color: #ffffff; 
	border: 5px #ffffff;
}

h1{
	color: #4aaaa5;
	

}

.form{
	display: block;
	width: 100px;
	border-style: solid gray;

}

#connect-with-me{
	float: left;

}

footer{
	text-align: center;
	background-color: #777777;
	clear: both;
	padding: 20px;

}