header {
	height: 56px;
	width: 650px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 56px; 
	background-color: #4aaaa5;
	text-align: center;
	margin: 20px;
	padding: 20px;
	color: #ffffff; 
	border: 5px #ffffff;
}

h1{
	color: #4aaaa5;
	

}

.form{
	display: block;
	width: 100px;
	border-style: solid gray;

}

aside{

		width: 40%;
		clear: both;
		float: right;
		margin: auto;
		display: block;
}


}

footer{
	clear: both;
	padding: 20px;
	background-color: #666666;
	text-align: center;
	color: #ffffff;
	width: 965px;

}