header {
	height: 90px;
	width: auto;
	font-family: 'Georgia', Times, Times New Roman, serif;
	/*I took out the background color for the header*/
	text-align: center;
	/*I changed this to margin bottom*/
	margin-bottom: 20px;
	/*I removed the padding from the header*/
	background-color: white;
	color: #ffffff;
	border: 5px #ffffff;
}
body {
	/*I took out the overall body width of 500px*/
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background: white;
	line-height: 180%;
	/*I added the background image*/
	background-image: url(../images/ep_naturalwhite.png);
}
h1{
	display: block;
	text-indent: 100px;
	color: #4aaaa5;
}
h2{
	text-align: left;
	color: #4aaaa5;
}
h4{
	background-color: #4aaaa5;
	color: #ffffff;
	width: 230px;
}

aside{
	padding: 30px;
 width: 100%;
 max-width: 270px;
 float: right;
 margin-bottom: 20px;
 background: #fff;
 border: 1px solid #ddd;
}


footer{
	border-top: 10px solid;
	border-color: #4aaaa5;
	clear: both;
	padding: 20px;
	background-color: #666666;
	text-align: center;
	color: #ffffff;
	/*I changed this width to 100%*/
	width: 100%;

}
#logo {
  width: 250px;
  height: 90px;
  float: left;
  font-family: 'Georgia', Times, Times New Roman, serif;
  text-align: center;
  line-height: 90px;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  background: #4aaaa5;
}
/*I added navigation, there was none at all*/
nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  margin-left: 15px;
  padding-left: 15px;
  color: #999;
  text-decoration: none;
  line-height: 18px;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}
.container {
	clear: both;
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
}

#mainBio{
	padding: 30px;
  margin: 0 0 40px 0;
  max-width: 650px;
  float: left;
  background: #fff;
  border: 1px solid #ddd;
}

.me{
	text-align: left;
	width: 500px;
	border: 25px;
	padding: 5px;
	margin: 25px;
}

.header {
	font-size: 30px;
	font-style: italic;
}

.header>strong {
	font-size: 35px;
}
.form{
	display: block;
	width: 100px;
	border-style: solid gray;
}
.image1{
		margin: left;
		border-left: 1px solid gray;
		padding: 1em;
		overflow: hidden;

}

.image2{
		margin: right;
		border-left: 1px solid gray;
		padding: 1em;
		overflow: hidden;
		float: left;
}
