header {
	height: 56px;
	width: auto;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 56px; 
	background-color: #4aaaa5;
	text-align: center;
	margin: 20px;
	padding: 20px;
	color: #ffffff; 
	border: 5px #ffffff;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 580px;
	background: white;
	line-height: 180%;
	margin: 0;
    padding: 0;
    border: 2px #dddddd;

}

.container {

	width: 965px;
	margin: 0 auto;
	

}

h1{	
	display: block;
	text-indent: 100px;
	color: #4aaaa5;

}


#main-bio{
		width: 40%;
   		height: 100px;
    	padding: 50px;
    	border: 1px solid gray;
    	box-sizing: border-box;
}

#contact-info{
		width: 40%;
		clear: both;
		float: right;
		margin: auto;
		display: block;
}

h2{
	text-align: left;
	color: #4aaaa5;

}

.me{
	text-align: left;
	width: 500px;
	border: 25px;
	padding: 5px;
	margin: 25px;
}

.header {
	font-size: 30px;
	font-style: italic;
}

.header>strong {
	font-size: 35px;
}

footer{
	clear: both;
	padding: 20px;
	background-color: #666666;
	text-align: center;
	color: #ffffff;
	width: 965px;

}
